/* create a body element style 
 - set Text align to Centre 
 - set a text font */
body {
  background-color: #90cbee;
  text-align: center;
}

/*create title syle*/
#title {
  padding-top: 10px;
  margin-bottom: -10px;
  color: #076094;
}

/*Create a calculator class style 
 - set width, height, colour and centre on screen 
 - set a border radius if we want it curved*/
.calculator {
  width: 250px;
  height: 335px;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

/*Create a row class style 
 - set display to block */
.row {
  display: block;
}

/*create a button element style 
 - set a solid border (1-2px)
 - set width, height, padding and margins,
 - set a backgroud colour and font colour 
 - set a border radius if we want it curved */

button {
  width: 40px;
  height: 30px;
  border: 1px solid;
  color: white;
  font-size: 1.1em;
  border-radius: 7px;
  margin: 0 5px 8px;
}

/*create a control class style 
 - set background colour and font colour to different than the buttons */
.control {
  background-color: #e26060;
}

/*create input style*/
input[type="text"] {
  background-color: white;
  border: 1px solid grey;
  line-height: 20px;
  width: 200px;
  font-size: 2em;
  direction: rtl;
  padding-right: 10px;
  margin: 30px 0 20px;
  border-radius: 5px;
}

/*create a tall class style 
 - adjust the width and height, so that this paricular button takes up the place of two vertical buttons */
.tall {
  height: 65px;
  margin: 0 5px -10px;
}
